/build/*
/dist/*
/src/Ninject.Extensions.bbvEventBroker.5.0.ReSharper.user
/src/Ninject.Extensions.bbvEventBroker.5.1.TeamCity.user
/src/Ninject.Extensions.bbvEventBroker/_ReSharper.Ninject.Extensions.bbvEventBroker/*
/src/Ninject.Extensions.bbvEventBroker/obj/*
/src/Ninject.Extensions.bbvEventBroker.Test/obj/*
/src/_ReSharper.Ninject.Extensions.bbvEventBroker/*
/src/Ninject.Extensions.bbvEventBroker.Test/Ninject.Extensions.bbvEventBroker.Test.csproj.user
/src/Ninject.Extensions.bbvEventBroker/Ninject.Extensions.bbvEventBroker.csproj.user
/src/Ninject.Extensions.bbvEventBroker.5.1.ReSharper.user
/src/Ninject.Extensions.bbvEventBroker.suo
/src/Ninject.Extensions.bbvEventBroker/Ninject.Extensions.bbvEventBroker.5.0.ReSharper.user
/src/Ninject.Extensions.bbvEventBroker/Ninject.Extensions.bbvEventBroker.5.1.TeamCity.user
/src/Ninject.Extensions.bbvEventBroker/Ninject.Extensions.bbvEventBroker.suo
/lib/Ninject/*.zip
/lib/Ninject/*/**
/lib/Ninject.Extensions.ContextPreservation/*.zip
/lib/Ninject.Extensions.ContextPreservation/*/**
/lib/Ninject.Extensions.NamedScope/*.zip
/lib/Ninject.Extensions.NamedScope/*/**